/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
  }
  
  body {
    background-color: #fff;
    color: #1a1a1a;
    line-height: 1.5;
  }
  
  .form-container {
    max-width: 600px;
    margin: 0px auto;
    text-align: center;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #232333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
  }
  
  .form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  label {
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 16px;
    color: #666;
  }
  
  input,
  select,
  textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    width: 100%;
  }
  
  input:focus,
  select:focus,
  textarea:focus {
    border-color: #6a5acd; /* Purple focus */
  }
  
  textarea {
    resize: none;
  }
  
  .submit-container {
    text-align: center;
    margin-top: 15px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #6a5acd; /* Purple color */
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:hover {
    background-color: #483d8b; /* Darker purple */
  }
  