.recentWorkContainer{
    margin: 180px auto 0 auto;
  
     .heading{
        & > h2{
            font-size: 32px;
            font-weight: 800;
            margin: 20px 0;
            color: #141c3a;
        }
        & > p{
            color: #141c3a;
            font-size: 18px;
            margin: 5px 0;
            letter-spacing: 1px;

            & > span{
                color: #6E07F3;
            }
        }
     }

     & .projects_grid{
        display: grid;
        grid-template-columns: repeat(3,4fr);
        column-gap: 15px;
        row-gap: 15px;
        margin: 50px 170px; 

        & .project_tab{
            // border: 2px solid red;
            width: 100%;
            border-radius: 20px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;

            & > img{
                width: 100%;
                display: block;
                object-fit: cover;
                overflow: hidden;
            }
        }
     }

     & > button{
        color: #6E07F3;
        border: 2px solid #6E07F3;
        border-radius: 25px;
        padding: 12px 35px;
        font-size: 18px;
        display: flex;
        align-items: center;
        margin: 100px auto;
        justify-content: center;
        background-color: white;
        letter-spacing: 0.3px;

        & > span{
            margin-right: 10px;
            display: flex;
            & > img{
                width: 20px;
            }
        }
     }
}